/* Fullscreen View Styles */
.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100000000000;
}

.fullscreen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fullscreen-close {
    position: fixed; /* Change to fixed */
    top: 20px;
    right: 0px;
    font-size: 60px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.fullscreen-nav {
    position: fixed; /* Change to fixed */
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    z-index: 1001;
    transition: background 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-nav:hover {
    background: rgba(0, 0, 0, 0.6);
}

.fullscreen-nav.prev {
    left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.fullscreen-nav.next {
    right: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
